<div class="deckCard clozed" ng-class="{true: 'clozed', false: 'unclozed'}[clozed]" >
  <div class="btn-toolbar pHover pull-right" ng-if="isOwner" ng-class="{pHover: !editView}">
    <div class="btn-group">
      <a href="" class="btn btn-link btn-sm" ng-click="removeDeck(id)"><i class="glyphicon glyphicon-trash"></i> </a>
      <a href="" class="btn btn-link btn-sm" ng-click="edit(id)"><i class="glyphicon" ng-class="{ false: 'glyphicon-pencil', true: 'glyphicon-save'}[editCard]"></i> </a>
      <a ng-if="deck.$id !== id" href="#/{{username}}/{{id}}" class="btn btn-link btn-sm"> <i class="glyphicon glyphicon-new-window"></i></a>
    </div>
  </div>
  <h2 ng-if="!editCard" class="card clozed" ng-class="{true: 'clozed', false: 'unclozed'}[clozed]">
    <div ng-bind-html="child.name | formatCard"></div>
  </h2>
  <textarea placeholder="" ng-model="child.name" ng-if="editCard"></textarea>
  <div class="row"><button class="btn btn-link" ng-click="clozed = !clozed" ng-show="isClozed(child.name)"><i class="flip glyphicon glyphicon-eye-close" ng-class="{true: 'glyphicon-eye-close', false: 'glyphicon-eye-open'}[clozed]"></i> </button></div>

  <div class="progress" tooltip="Due {{child.due | dateDays }}" tooltip-placement="bottom">
    <div class="progress-bar" role="progressbar" style="width: 100%;" ng-class="{ 0: 'progress-bar-danger', 1: 'progress-bar-warning', 2: 'progress-bar-success' }[status]">
      <span class="sr-only">Due {{child.due | dateDays }}</span>
    </div>
  </div>
</div>
