<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="deckGrid listview">
      <div class="deckBox">
        <div ng-controller='DeckCtrl' style="position: relative" ng-include="'components/decks/deckCard.html'" ng-init="child = deck; id = deck.$id" ui-keydown="{'alt-space':'testEvent($event)'}">
        </div>      
      </div>

      <div class="deckBox col-md-12" ng-if="isOwner">
        <div class="deckCard clozed newCard" ng-if="editView">
          <textarea placeholder="New Child" ng-model="newdeck.name" ui-keydown="{'tab':'newcardEnter($event)'}"></textarea>
        </div>
      </div>

    </div>




    <!-- div class="deckGrid" ng-class="{true: 'listview', false: 'gridview'}[listView]">

      <div class="deckBox" ng-class="{clear: !(($index)%3) && !$first }" ng-repeat="(id,child) in children | orderByPriority" ng-include="'components/decks/deckCard.html'" ng-controller='DeckCtrl'>
      </div>

    </div -->

    <div class="deckGrid" ng-class="{true: 'listview', false: 'gridview'}[listView]">
      <div ng-repeat="(id, child) in children" ng-model="A" class="deckBox drop-zone" data-drop="true" data-id="{{id}}" jqyoui-droppable="{multiple:true, onDrop: 'drop(id)'}" data-jqyoui-options="{accept:'.drop-item:not([data-id={{id}}])', hoverClass: 'highlight', greedy: true}">
        <div class="drop-item" data-drag="true" ng-model="A" data-jqyoui-options="{revert: 'invalid', handle: '.progress, .btn-toolbar'}" data-id="{{id}}" jqyoui-draggable="{animate:false}">
          <div class="btn-group pull-left pHover">
            <a href="" class="btn btn-link btn-sm" style="position: absolute; top: 0"><i class="glyphicon glyphicon-move"></i> </a>
          </div>
          <div ng-include="'components/decks/deckCard.html'" ng-controller='DeckCtrl'>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

