.userView {
  padding: 0;
}

.card, .cardEditor {
  background-color: #fff;
  color: #333;
  font-size: xx-large;
  line-height: 1.2;
  margin: 10px 0;
  padding: 5px;
  text-align: center;
  /* border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  max-height: 150px;
  font-family: "MS PGothic", Meiryo, Arial;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; */
  font-family:  "MS PGothic", Meiryo, sans-serif;
  overflow-y: auto;
}

.card p {
  margin: 0;
}

.cardEditor {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.card span.cloze, .deck span.cloze {
  background-color: #ddd;
  color: #333;
  opacity: 1;
  transition:all 0.5s linear;
}

.card.clozed span.cloze, .card span.uncloze, .deck.clozed span.cloze, .deck span.uncloze {
  opacity: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  display: none;
  transition:all 0.5s linear;
  transition-delay: 0.5s;
}

.card.clozed span.uncloze, .deck.clozed span.uncloze {
  opacity: 1;
  transition:all 0.5s linear;
}

.pagination {
  margin: 0;
}

#cardControl:focus {
    outline: none;
}

#cardControl .row {
  margin-top: 5px;
}

.statsBox, .deckCard {
  border-radius: 0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  margin-bottom: 20px;
  text-align: center;
}


.deckCard {  /* "back" side */
  box-shadow: -2px -2px 0 rgba(0,0,0,0.3);
  clear: left;
}

.deckCard.clozed {  /* "front" side */
  box-shadow: 2px 2px 0 rgba(0,0,0,0.3);
}

.deckCard > h2 {
  min-height: 100px;
}

.newCard, .deckCard {
  padding: 10px 0 0 0;
}

.deckCard .progress, .statsBox .progress {
  margin: 0;
  border-radius: 0;
  height: 10px;
}

.deckCard textarea, .newCard textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #d2d4e0;
  background: #fffbf3;
  color: #322f31;
  cursor: pointer;
  font-size: 30px;
  width: 100%;
  text-align: center;
  border: none;
}

.deckCard textarea:focus, .newCard textarea:focus {
  border: 1px solid #50b1ff;
  background: #fffbf3;
  color: #322f31;
}

.deckBox .btn-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#cardControl .btn-group {
  line-height:22px;
  padding:5px;
}

.deckCard .btn-group .btn-sm, .btn-xs {
  padding: 0 5px;
}

select.deck {
  border: none;
  background-color: transparent;
}

* > .pHover {
  opacity: 0;
  display: none;
  transition: opacity .25s ease-in;
   -moz-transition: opacity .25s ease-in;
   -webkit-transition: opacity .25s ease-in;
}

*:hover > .pHover {
  opacity: 1;
  display: block;
}



.btn-bottom {
  height: 30px;
}

.deckGrid .deckBox {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.deckGrid.listview .deckBox {
  width: 100%;
}

.card, .deckCard textarea {
  height: auto;
  min-height: 100px;
  max-height: 600px;
}

.deckGrid.gridview .card, .deckGrid.gridview textarea {
  font-size: 18px;
  line-height: 1;
  min-height: 80px;
}

.deckGrid.gridview .card {
  height: 80px;
}

.deckGrid.gridview textarea {
  height: auto;
}

.card p {
  margin: 0;
}

.deckGrid.listview .card, .deckGrid.gridview .deckCard:hover .card, .deckCard textarea:focus {
  height: auto;
}



.deckBox.clear {
  clear: both;
}

.drop-item .btn-group .btn-sm {
  padding: 0 5px;
}

.drop-zone.highlight .deckCard {
    border: 1px dashed #505050;
}

.ui-selected.deckCard {
  border: 2px solid #505050;
}
