<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="deckBox col-md-12" ng-controller='DeckCtrl' ng-include="'components/decks/deckCard.html'" ng-init="child = deck; id = deckId">
    </div>

    <div class="deckGrid" ng-class="{true: 'listview', false: 'gridview'}[listView]">

      <div class="deckBox" ng-class="{clear: !(($index)%3) && !$first }" ng-repeat="(id,child) in children" ng-include="'components/decks/deckCard.html'" ng-controller='DeckCtrl'>
      </div>

      <div  class="deckBox" ng-if="editView && isOwner">
        <div class="deckCard newCard clozed" >
          <textarea placeholder="" ng-model="newdeck.name"></textarea>
          <br /><button class="btn btn-link" ng-click="addDeck(newdeck)" tooltip="Add" ng-disabled="!newdeck.name">
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </div>
      </div>

    </div>




  </div>
</div>

