
<div class="jumbotron userView container-fluid">
  <div class="row">

    <div class="col-md-10 col-md-offset-1">

      <h2>
        <img class="user_gravatar" ng-src="http://www.gravatar.com/avatar/{{user.gravatar_id}}?s=50&d=retro" width="50">

        <a href="#/{{user.$id}}" ng-cloak>{{user.$id}}</a>
        <span class="dropdown" ng-cloak>
          <span ng-if="deck.$id != 'root'">| {{deck.name}}</span>
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="(id, d) in decks"><a href="#/{{user.$id}}/{{id}}">{{d.name}}</a></li>
          </ul>
        </span>

      </h2>

      <!-- a href ng-click="addDeck({name: ''});">TEST</a -->

    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="row">
      <div class="col-md-3">
        <label>Export</label>
        <input type="checkbox" value="3" ng-model="exportSettings.showSource">Source</input>
        <input type="checkbox" value="1" ng-model="exportSettings.showClozed">Clozed</input>
        <input type="checkbox" value="2" ng-model="exportSettings.showOpen">Open</input>
      </div>
      <div class="col-md-3">
        <label>Side delimitor</label>
        <input type="radio" name="sideDelim" ng-model="exportSettings.sideDelim" value="\t">Tab</input>
        <input type="radio" name="sideDelim" ng-model="exportSettings.sideDelim" value=",">Comma</input>
      </div>
      <div class="col-md-3">
        <label>Deck delimitor</label>
        <input type="radio" name="deckDelim" ng-model="exportSettings.deckDelim" value="\n">Newline</input>
        <input type="radio" name="deckDelim" ng-model="exportSettings.deckDelim" value=";">Semicolon</input>
      </div>
    </div>

    <pre class="well">
{{export}}
    </pre>

  </div>
</div>



