
<div class="jumbotron userView">
  <div class="container">
    <div class="row">
      <h2>
        <img class="user_gravatar" ng-src="http://www.gravatar.com/avatar/{{gravatar_id}}?s=50&d=retro">
        <a href="#/{{username}}" ng-cloak>{{username}}</a>

        <span class="dropdown" ng-cloak>
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="(id, d) in decks"><a href="#/{{username}}/{{id}}/">{{d.name}}</a></li>
          </ul>
        </span>

        <div class="btn-toolbar pull-right" >
          <div ng-if="state.current.name == 'user.deck.cardList'" ng-cloak class="btn-group">
            <a href="#/{{username}}/{{deckId}}/study" class="btn btn-primary">Study now</a>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-link btn-sm" ng-click="listView = !listView" ><i class="glyphicon" ng-class="{true: 'glyphicon-th-list', false: 'glyphicon-th'}[listView]"></i> </button>
            <button type="button" class="btn btn-link btn-sm" ng-click="editView = !editView" ng-show="isOwner"><i class="glyphicon glyphicon-edit"></i> </button>
          </div>
        </div>

      </h2>
    </div>
  </div>
</div>

{{gravatar.$value}}

<div class="container">
  <div ui-view></div>
</div>
