@media (min-width: 1200px) {
  .container {
  max-width: 970px;
  }
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin-top: 30px;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 500px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

footer {
	padding-top: 40px;
	padding-bottom: 30px;
	margin-top: 100px;
	color: #777;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}

.card, .cardEditor {
  background-color: #fff;
  color: #333;
  font-size: xx-large;
  margin: 10px 0;
  padding: 5px;
  text-align: center;
  /* border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05); */
  height: 240px;
  /* font-family: "MS PGothic", Meiryo, Arial;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; */
  font-family:  "MS PGothic", Meiryo, sans-serif;
  overflow-y: auto;
}

.gridview .card, .gridview .cardEditor {
  font-size: large;
  height: 120px;
}

.cardEditor {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.card span.cloze {
  background-color: #999;
  color: #333;
}

.card.clozed span.cloze, .card span.uncloze {
  display: none;
}

.card.clozed span.uncloze {
  display: inline;
}

.pagination {
  margin: 0;
}

#cardControl:focus {
    outline: none;
}

#cardControl .row {
  margin-top: 5px;
}

.statsBox, .deckCard {
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  border: 1px solid #ddd;
  background-color: #fff;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: center;
}

.deckCard > h2 {
  height: 50px;
}

.deckCard {
  height: 150px;
}

.deckCard .progress {
  margin: 5px;
}

.newCard, .deckCard {
  padding: 10px;
}

.deckCard textarea, .newCard textarea {
  margin-bottom: 10px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #d2d4e0;
  color: #e7e8ef;
  background: #f2f3f7;
  cursor: pointer;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.deckCard textarea:focus, .newCard textarea:focus {
  border: 1px solid #50b1ff;
  background: #fffbf3;
  color: #322f31;
}

.deckBox .btn-toolbar {
  position: absolute;
  right: 20px;
  top: 10px;
}

#cardControl .btn-group {
  line-height:22px;
  padding:5px;
}

.statsBox .progress {
  border-radius: 3px;
  margin-bottom: 0px;
}

select.deck {
  border: none;
  background-color: transparent;
}

* > .pHover {
  opacity: 0;
  display: none;
  transition: opacity .25s ease-in;
   -moz-transition: opacity .25s ease-in;
   -webkit-transition: opacity .25s ease-in;
}

*:hover > .pHover {
  opacity: 1;
  display: block;
}

/* ng-animate */

.animate-show {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  opacity:1;
}

.cardEditor.animate-show {
  line-height:24px;
  padding:10px;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display:block!important;
}

.animate-show.ng-hide {
  opacity:0;
}

.cardEditor.animate-show.ng-hide {
  line-height:0;
  padding:0 10px;
}

