<div class="jumbotron">
  <div class="container">
    <h1 class="heading">Build study decks better, together.</h1>
    <div ng-if="!auth.user">
      <button class="btn btn-primary button-block" ng-click="auth.$login('github')">Sign in using GitHub</button>
      <button class="btn btn-primary button-block" ng-click="auth.$login('anonymous',{rememberMe: true});">Sign in as a guest</button>
    </div>
    <div ng-if="auth.user" ng-cloak>
      <a class="btn btn-default" href="#/{{userData.$id}}/">Browse your decks</a>
      <button class="btn btn-primary" ng-click="auth.$logout()">Logout</button>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="heading">Project goals</h1>
  <div class="row">
    <div class="col-md-4">
      <h2>Open-source</h2>
      <p data-meaningful="true" ct-id="2">100% open source code built using great open source tools such as angularjs and grunt.</p>
      <a class="btn btn-default" href="https://github.com/Hypercubed/Dekkusu" role="button">View source »</a>
    </div>
    <div class="col-md-4">
      <h2>Back-end free</h2>
      <p data-meaningful="true" ct-id="3">Using Firebase no database required.</p>
      <a class="btn btn-default" href="http://www.firebase.com/" role="button">More about Firebase »</a>
   </div>
    <div class="col-md-4">
      <h2>Innovative study features</h2>
      <p data-meaningful="true" ct-id="4">With Dekkusu creating your study deck is part of the learning process.  Jumping between studying and editing should be seamless.  Hierarchical decks will enable and encourage continuous refactoring and learning.</p>
      <a class="btn btn-default" href="#/readme" role="button">More »</a>
    </div>
  </div>
</div>
