<div class="col-xs-12 navbar navbar-inverse navbar-fixed-left">

  <a class="navbar-brand" href="#/"><img src="images/paper-stack.png" height="20"> {{site.title}}</a>

  <ul class="nav navbar-nav" >

    <!-- User menu -->
    <li class="dropdown " ng-if="auth.user">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img class="user_gravatar" ng-src="http://www.gravatar.com/avatar/{{userData.gravatar_id}}?s=20&d=retro" width="20">
        <span>{{userData.$id}} <i class="caret"></i></span>
      </a>
      <ul class="dropdown-menu navbar-inverse">
        <li class="user-footer text-center">
          <a class="btn btn-primary" ng-click="auth.$logout()" href="#">Logout</a>
        </li>
      </ul>
    </li>

    <!-- No logged in menu -->
    <li class="dropdown " ng-if="!auth.user">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-user"></i>
        <span>Login <i class="caret"></i></span>
      </a>
      <ul class="dropdown-menu nav navbar-nav navbar-inverse">
        <li>
          <a class="" href="" ng-click="auth.$login('github')">Login using GitHub</a>
        </li>
        <li>
          <a class="" href="" ng-click="auth.$login('anonymous',{rememberMe: true});">Login as a guest</a>
        </li>
      </ul>
    </li>

    <li ng-if="auth.user">
      <a href="" ng-click="toggleChildren()">
        <i class="glyphicon glyphicon-chevron-right" ng-class="{true: 'glyphicon-chevron-right', false: 'glyphicon-chevron-down'}[isCollapsed]"></i>
        Your decks
      </a>
      <div>
        <ul id="userDecks" class="list-unstyled col-md-offset-1" ng-hide="isCollapsed">
          <li ng-repeat="(id, child) in children | orderBy:'$id'"  ng-model="A" class="drop-zone" data-drop="true" data-id="{{id}}" jqyoui-droppable="{multiple:true, onDrop: 'drop(id)'}" data-jqyoui-options="{hoverClass: 'highlight', greedy: true, tolerance: 'pointer'}">
            <a href="#/{{userData.$id}}/{{id}}">{{child.name}}</a>
          </li>
        </ul>
      </div>
    </li>

  </ul>

        <!-- <ul class="nav navbar-nav navbar-right" ng-cloak>
          <li ng-if="auth.user" ng-cloak>
            <a href="#/{{userData.$id}}/" >
              <img class="user_gravatar" ng-src="http://www.gravatar.com/avatar/{{userData.gravatar_id}}?s=20&d=retro" width="20">
              {{userData.$id}}
            </a>
          </li>
          <li ng-if="auth.user" ng-cloak><a href ng-click="auth.$logout()">Logout</a></li>
          <li ng-if="!auth.user"><a href ng-click="auth.$login('github')">Login with GitHub</a></li>
        </ul> -->

</div>


