
    <div id="add" class="card editable col-md-12" ng-click="add()" ng-cloak>
        <span>
          <br />Click to add
          <p>
            <button type="button" class="btn btn-lg btn-link" tooltip="Add"><i class="glyphicon glyphicon-plus-sign"></i>  </button>
          </p>
        </span>
    </div>

    <div id="cardControl" class="statsBox" tabindex="0" ui-keyup="{'left right space enter':'keypressCallback($event)'}">

      <div class="row">
        <div class="col-md-3 text-center">
          Card {{index}} / {{stats.total}}
        </div>
        <div class="col-md-3 text-center">
          <div class="btn-group">
            <a class="btn btn-lg btn-default" ng-click="prev()"  tooltip="Next"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="btn btn-lg btn-default" ng-click="next()" tooltip="Previous"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>
        </div>
      </div>

      <div class="row"></div>

      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{(index+1)/(stats.total)*100}}%;">
          <span class="sr-only">Card {{index+1}} / {{stats.total}}</span>
        </div>
      </div>

    </div>
