    <div ng-repeat="card in cards | orderByPriority">
      <div card-view card="card" cards="cards" is-owner="isOwner" ng-class="{true: 'col-md-12 listview', false: 'col-md-4 gridview'}[listView]" listview="listView"></div>
    </div>

    <div id="add" ng-click="cards.$add({text: ''})" ng-cloak ng-class="{true: 'col-md-12 listview', false: 'col-md-4 gridview'}[listView]">
      <div class="statsBox" >
      <div class="card" >
        <span>
          <br />Click to add
          <p>
            <button type="button" class="btn btn-lg btn-link" tooltip="Add" ng-class="{true: 'btn-lg', false: 'btn-sm'}[listView]"><i class="glyphicon glyphicon-plus-sign"></i>  </button>
          </p>
        </span>
      </div>
      </div>
    </div>
